@page "/fetchdata"
@inject HttpClient Http

<h1>JSON</h1>

@if (string.IsNullOrEmpty(name))
{
    <p><em>Loading...</em></p>
}
else
{
    @name
    @response2.ToString();
    @forecasts.ToString()
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.DateTimeStamp.ToDateTime()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<WeatherInfo> forecasts = new List<WeatherInfo>();
    private string name;
    private WeatherReply response2;

    protected override async Task OnInitializedAsync()
    {
        WeatherReply response = await Http.GetFromJsonAsync<WeatherReply>("https://localhost:5001/WeatherForecast/GetWeather/name");
        response2 = response;
        name = response.Name;
        forecasts = response.Forecasts;
    }
}
