@page "/fetchdatagrpc"
@inject WeatherForecast.WeatherForecastClient WeatherForecastsClient
@using System.Diagnostics;

<h1>GRPC</h1>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@name</p>
    <p>time: @time</p>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.DateTimeStamp.ToDateTime()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private IList<WeatherInfo> forecasts;
    private string name;
    private string time;

    protected override async Task OnInitializedAsync()
    {
        Stopwatch sw = new Stopwatch();
        sw.Start();
        WeatherReply response = await WeatherForecastsClient.GetWeatherAsync(new WeatherRequest() { Name = "some name from request" });
        sw.Stop();
        time = sw.Elapsed.ToString();
        forecasts = response.Forecasts;
        name = response.Name;
    }
}